
/* metrics-plugin-font-size
metricsplugin-container-border
metrics-plugin-font-size */
.statsTableContainer {
    flex: 0.5;
    border-right:grey solid 2px;
    overflow: auto;  
}

.statsTableElementsContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0.5rem;
    grid-row-gap: 0.5rem;
}

.statsTableTitleContainer {
    margin-bottom: 0.5rem;

   
}
 .statsTableTitle {
     font-size: 1.8rem;
     font-weight: 900;
 }

 .elementComponent {
     display: flex;
     flex-direction: row;
     align-items: center;

     
 }
 .elementDisplay {
     display: flex;
     align-items: center;
     border-bottom: solid 1px var(--log-resizer-border-color);
 }

.elementCount {
    font-size: 1.5rem;
}

 .elementName {
     font-size: 1.5rem;
     margin-right: 0.5rem;
 }

 .elementCountContainer{
    position: relative;
 }

 .spinnerContainer{
    margin-bottom:0.35rem;
    margin-left:0.35rem;
 }

