.metricsTableTitle {
    font-size: 2rem;
    font-weight: 900;
    width: fit-content;
    padding: 0 0.5rem;
}

.metricsContainer {
    flex: 2;
    padding-left: 1rem;
    border-right: solid 2px var(--metricsplugin-container-border);
    display: flex;
    flex-direction: column;
}

.metricsTable {
     display: flex;
     flex-direction: row;
     max-height: 150px;
 }

.metrics-wrapper-title-remove {
    margin-right: auto;
}

