/* there is sth like a transition going on here */


.showMetricsPluginButton {
    font-size: inherit;
    color: inherit;
    border: none;
    /* background-color: var(--metrics-plugin-open-plugin-button-color); */
    background-color: inherit;
}

.showMetricsPluginButton:hover{
    background-color: var(--tab-action-hover-background-color);
}

.showMetricsPluginButtonActive {
    background-color: var(--tab-action-active-background-color) !important;
}

.toggleHideShow {
    display: none !important;
}

.appContainer {
    width: 100%;
    height: 275px;
    z-index: 105;
    border-top: solid 1px var(--log-resizer-border-color);
    /* border-top: black solid 2px; */
    padding: 1rem;
    padding-top: 0.5rem;
    display: flex;
    justify-content: space-around;
}
