:root{--metrics-plugin-open-plugin-button-color: #aaaaaa;
--metrics-plugin-open-plugin-button-hovered-color: #999999;
--remove-showed-element-button-color: hsl(225, 10%, 85%);
--remove-showed-element-button-hovered-color: hsl(225, 10%, 75%);
--metricsplugin-container-border: lightgrey;
--metricsplugin-open-retrieve-removed-elements-button-color: #dddddd;
--metricsplugin-open-retrieve-removed-elements-button-hovered-color: var(
    --log-resizer-border-color
);
--metricsplugin-retrieve-removed-elements-button-color: hsl(225, 10%, 85%);
--metricsplugin-retrieve-removed-elements-button-hovered-color: hsl(225, 10%, 75%);
--metrics-plugin-font-size: 1.2rem;
}


/* note sass as npm package is slower */

/* not supported in firefox or in edge prior version 79 */
/* ::-webkit-scrollbar{
    width:8px;
}

::-webkit-scrollbar-track{
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb{
    background:lightgrey;
}

::-webkit-scrollbar-thumb:hover{
    background: #eeeeee;
} */

.stats-table-elements-container:nth-child(3n + 0) {
    background: blue !important;
    width: 100% !important;
}

/* probably to metrics-container tha einai megalytero soon */

/* prosoxh edw */
.remove-element-button {
    /* font-size:1.2rem; */
    background-color: var(remove-showed-element-button-color);
    width: 1.5rem;
    height: 1.5rem;
    border: solid 1px;
    border-radius: 0.125rem;
    
}

.remove-element-button:hover {
        background-color: var(remove-showed-element-button-hovered-color);
    }

.categories-wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 1.25rem;
}
.categories-wrapper-title {
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    border-left: solid 2px black;
    text-align: center;
}

.categories-wrapper-children {
    display: flex;
}

 /* .tools-container {
     flex: 0.75;
     padding-left: 1rem;
     .addremoved-widget-subtitle {
         font-size: $metrics-plugin-font-size;
     }
     .addremoved-widget-button {
         padding: 8px;
         background-color: $metricsplugin-open-retrieve-removed-elements-button-color;
         &:hover {
             background-color: $metricsplugin-open-retrieve-removed-elements-button-hovered-color;
         }
     }
     .addremoved-menu {
         margin-top: 1rem;
         border: solid 2px black;
         display: flex;
         flex-direction: column;
         height: 170px;
         overflow: auto;
         padding-left: 1rem;
         padding-bottom: 1rem;
     }
     
         &:hover {
             background-color: $metricsplugin-retrieve-removed-elements-button-hovered-color;
         }
     
     .addremoved-widget-element-component {
         display: flex;
         align-items: center;
         column-gap: 0.5rem;
        
        
         
     }
 }


  .addremoved-widget-element-checkbox {
      font-size: var(metrics-plugin-font-size);
      accent-color: #aaaaaa;
  }
  .addremoved-widget-element-name {
      font-size: var(metrics-plugin-font-size);
  }
  .addremoved-widget-element-checkbox:checked {
      background-color: #999999;
      color: #999999;
  }
  .addremoved-okbutton {
      margin-top: auto;
      background-color: var(metricsplugin-retrieve-removed-elements-button-color);
      width: 50px;
      padding: 4px;
      margin-left: auto;
      margin-right: 1rem;
      border-radius: 8px;
}

/*
